<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" href="../static/css/fontawesome.min.css">-->
    <link rel="stylesheet" th:href="@{css/bootstrap-treeview.css}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/index.css">-->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap-treeview.css">-->
    <!--    <script src="../static/js/index.js"></script>-->

    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/bootstrap-treeview.js}"></script>

    <script th:src="@{js/index.js}"></script>

    <!--    <script src="../static/js/jquery-3.3.1.min.js"></script>-->
    <!--    <script src="../static/js/popper.min.js"></script>-->
    <!--    <script src="../static/js/bootstrap.min.js"></script>-->
    <!--    <script src="../static/js/bootstrap-treeview.js"></script>-->


</head>

<body>
<div class="container">
    <div class="row" style="margin-top: 5%">
        <div class="col-5">
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile" name="code">
                        <label class="custom-file-label" for="inputGroupFile">
                            Choose code file(.txt) to upload</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group" id="inputGroupFileAdd">
                            <button class="btn" type="submit" id="upload">Upload</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-7">
            <button class="btn btn-primary" id="analyze">Start Analyze</button>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <!-- Source Code display -->
            <div class="card">
                <div class="card-header">
                    Source Code
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div class="row">
                            <!--                            <div class="col-2" style="background-color: #9fcdff">-->
                            <!--                                <ul class="pre-number" ></ul>-->
                            <!--                            </div>-->
                            <div class="col-12">
                                <textarea class="form-control" id="code_area" rows="5"></textarea>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-7">
            <!-- Result after interpreter operations -->
            <div class="card">
                <div class="card-header">
                    <!-- only one active in the meantime -->
                    <div class="nav nav-tabs card-header-tabs" id="tab-items">
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#lexical">Lexical</a>
                        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#grammar">Grammar</a>
                        <a class="nav-item nav-link " id="nav-contact-tab" data-toggle="tab" href="#semantic">Semantic</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="tab-content">
                        <div class="tab-pane fade show" id="lexical" role="tabpanel" aria-labelledby="nav-home-tab">
                            <span style="white-space: pre-line"></span>
                        </div>
                        <div class="tab-pane fade show active" id="grammar" role="tabpanel"
                             aria-labelledby="nav-profile-tab">

                            <!-- Alert when code error occurs of succeed -->
                            <div class="alert" role="alert" id="gramAlert">
                            </div>
                            <!-- TreeView -->
                            <div id="menuTree"></div>
                        </div>
                        <div class="tab-pane fade show" id="semantic" role="tabpanel"
                             aria-labelledby="nav-contact-tab">
                            Semantics Analysis
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>


</html>